.characters-page {
	display: flex;
	min-width: 1200px;
	max-width: 1880px;
	margin: 0 auto;
	align-content: center;
	justify-content: space-around;
	height: 100vh;

	.left-panel, .right-panel {
		align-self: center;
		display: flex;
	}

	.left-panel {
		display: flex;
		flex-direction: column;

		.header {
			font-weight: bold;
			display: flex;
			width: 100%;
		}

		.list {
			padding-top: 10px;
			flex-direction: column;
			width: 100%;
			display: flex;

			.list-item {
				font-weight: bold;
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin: 10px 0;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.panel-footer {
			display: flex;
			width: 100%;
			min-width: 400px;
			max-width: 600px;

			.play-btn {
				font-weight: bold;
				background: black;
				color: #D2E0E6;
				padding: 10px 20px;
				width: 100%;
				border: none;
				outline: none;

				&:hover {
					background: #E03232;
				}
			}
		}
	}

	.right-panel {
		.panel-body {
			.btn {
				font-weight: bold;
				font-size: 20px;
				padding: 10px 20px;
				border: none;
				outline: none;
				color: #D2E0E6;
				background: rgba(0, 0, 0, 0.4);

				&:hover {
					background: #E03232;
				}

				&.disabled {
					background: rgba(0, 0, 0, 0.6) !important;
				}
			}

			.create-btn {
				margin: 0 30px;
			}
		}
	}
}
