.exit-button {
	position: absolute;
	top: 19px;

	&.left {
		left: 28px;
		box-shadow: -3px 0 0 0 #E03232;
		margin-left: 3px;
	}

	&.right {
		right: 28px;
		box-shadow: 3px 0 0 0 #E03232;
		margin-right: 3px;
	}
}

