@import '../../styles/colors';
@import '../../styles/mixins';

.char-editor-page {
	display: flex;
	width: 1864px;
	height: 100vh;
	margin: 0 auto;
	justify-content: space-between;
	align-content: center;
	overflow: hidden;

	.char-editor-left {
		display: flex;
		align-items: center;
		width: 30%;

		.char-editor-gender-block {
			.char-editor-gender-block-buttons {
				.gender-male {
					margin-right: 12px;
				}

				.gender-male, .gender-female {
					.activatable-farquaad();
					width: 70px;
					height: 48px;

					svg {
						fill: @colorWhitePrimary;
					}

					&.active {
						background-color: @colorTamarillo;
					}
				}
			}
		}

		.char-editor-input-field {
			input {
				width: 100%;
				padding: 5px 8px;
				line-height: 12px;
				font-size: 12px;
				color: @colorBlackPrimary;

				&::placeholder {
					color: @colorBlackSecondary
				}
			}
		}

		.char-editor-similarity-slider {
			margin-bottom: 10px;
		}
	}

	.char-editor-center {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		margin-bottom: 56px;
	}

	.char-editor-right {
		display: flex;
		width: 30%;
		justify-content: flex-end;
		align-items: center;

		.char-editor-right-container {
			.char-editor-second-tab-container .card-block {
				height: 509px;
			}

			.char-editor-mods-container {
				.card {
					height: 509px;
					width: 298px;
				}

				.char-editor-colors-container {
					.char-editor-colors-label {
						margin-bottom: 8px;
						font-weight: bold;
						line-height: 14px;
					}

					.char-editor-colors {
						display: flex;
						justify-content: space-between;

						.char-editor-color {
							width: 12px;
							height: 12px;
							border: 0.5px solid @colorMineShaft;
							box-sizing: border-box;
							box-shadow: inset 0 4px 4px @colorSilver;
							border-radius: 4px;
						}
					}
				}

				.char-editor-scroll-container {
					max-height: 329px;
					overflow-y: scroll;
					.scrollable();

					display: flex;
					flex-wrap: wrap;

					> div {
						.activatable-farquaad();
						width: 56px;
						height: 56px;
						margin-bottom: 2px;
						background-size: contain;
						transition: 0.25s box-shadow;

						+ div:not(:nth-child(4n + 1)) {
							margin-left: 2px;
						}

						&:hover {
							box-shadow: inset 0 0 0 56px @colorHoverWhite;
						}

						&.active {
							box-shadow: inset 0 0 0 56px @colorSemiAlizarinCrimson;
						}
					}
				}
			}

			.char-editor-tab-button {
				.activatable-farquaad();
				width: 60px;
				height: 60px;
				display: flex;
				align-items: center;
				justify-content: center;

				svg {
					fill: @colorWhitePrimary;
				}

				&.active {
					background-color: @colorTamarillo;
				}
			}
		}
	}
}
