@import '../../../styles/colors';

.card {
	overflow: hidden;
	width: 100%;
	color: @colorWhitePrimary;

	.card-header {
		background-color: @colorTamarillo;
		line-height: 14px;
		font-size: 14px;
		font-weight: bold;
		width: 100%;
		padding: 12px;
	}

	.card-body {
		background-color: @colorBackgroundMain;
		height: 100%;
		padding: 12px;
		font-size: 14px;

		.card-body-container {
			overflow: auto;

			&::-webkit-scrollbar {
				width: 20px;
			}

			&::-webkit-scrollbar-track {
				box-shadow: inset 0 0 8px 8px @colorMineShaft;
				border-left: solid 12px transparent;
			}

			&::-webkit-scrollbar-thumb {
				box-shadow: inset 0 0 8px 8px @colorTamarillo;
				border-left: solid 12px transparent;
			}
		}
	}

	.card-block {
		background-color: @colorBackgroundSecondary;
		padding: 12px;
		margin-bottom: 8px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.card-footer {
		background-color: @colorBackgroundMain;
	}
}
