@import '../../styles/colors';

.hud {
	display: flex;
	position: relative;
	height: 100vh;
	margin: 0 auto;
	user-select: none;

	.card {
		display: flex;
		align-self: flex-end;
	}

	.hud-player-info {
		position: absolute;
		right: 28px;
		bottom: 19px;
		text-align: end;
		display: flex;
		flex-direction: column;

		.card-content {
			font-size: 18px;
			width: 225px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.vehicle-speed {
			text-align: center;
			display: flex;
			align-self: center;
			font-size: 20px;
		}

		.player-cash, .vehicle-speed {
			font-weight: bolder;
		}

		& svg {
			width: 18px;
		}

		.vehicle-info-left, .vehicle-info-right {
			display: flex;
			flex-direction: column;
			width: 46px;

			> svg {
				&:first-child {
					margin-bottom: 8px;
				}
			}
		}

		.vehicle-info-right {
			> svg, > span {
				align-self: center;
			}
		}
	}


	.hud-action-info {
		display: flex;
		align-self: flex-end;
		margin: 0 auto 140px;
	}

	.hud-action-text {
		color: @colorWhitePrimary;
		text-shadow: 0.5px 0.5px 0.25px #000;
		font-size: 21px;

		.hud-action-input {
			display: flex;
			height: 24px;
			align-items: center;

			.hud-action-input-label {
				background-color: #F0F0F0;
				color: @colorMineShaft;
				font-size: 24px;
				padding: 0 8px;
				display: inline-block;
				margin: 0 10px;
			}
		}
	}

	.hud-position-info {
		position: absolute;
		left: 326px;
		bottom: 19px;

		.zone {
			font-size: 16px;
			font-weight: bolder;
		}

		.area {
			font-size: 20px;
			font-weight: bolder;
			text-shadow: 0.5px 0.5px 0.25px #000;
			color: #E51E2B;
		}

		.street {
			font-size: 16px;
			color: #FFF;
		}

		.green {
			color: #72CC72;
		}

		.yellow {
			color: #F0A000;
		}

		.red {
			color: #E51E2B;
		}
	}

	.hud-server-info {
		position: absolute;
		top: 19px;
		right: 28px;
		text-align: center;
		font-size: 14px;

		.server-logo {
			img {
				width: 100px;
				background-size: contain;
			}
		}

		.server-info {
			color: #F0F0F0;
			text-shadow: 0.5px 0.5px 0.25px #000;
		}
	}
}
