@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import './shared/styles/rangeSlider/style';
@import './styles/colors';
@import './styles/mixins';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	font-family: "Open Sans", monospace;
}

/*---------------------------------------------*/
a {
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
	color: #403866;
}

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	font-family: "Open Sans", monospace;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0;
}

ul, li {
	margin: 0;
	list-style-type: none;
}

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
	outline: none;
	border: none;
}

input::placeholder, textarea::placeholder {
	color: #8f8fa1;
}

label {
	display: block;
	margin: 0;
}

button:hover {
	cursor: pointer;
}

iframe {
	display: none;
	position: fixed;
	height: 80%;
	width: 80%;
	left: 10%;
	top: 10%;
}

.mt-5 {
	margin-top: 5px;
}

.mb-5 {
	margin-bottom: 5px;
}

.mb-8 {
	margin-bottom: 8px;
}

.bold {
	font-weight: bold;
}

.flex {
	display: flex;
	flex-wrap: wrap;

	&.nowrap {
		flex-wrap: nowrap;
	}

	&.center {
		justify-content: center;
		align-items: center;
	}
}
