@import '../../../styles/colors';

.rangeslider-container {
	.rangeslider-tooltip {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;

		.label {
			font-weight: bold;
			font-size: 14px;
			line-height: 14px;
		}

		.value {
			font-size: 12px;
			line-height: 12px;
		}

		&.horizontal {
		}

		&.vertical {
		}
	}

	.rangeslider {
		position: relative;
		background-color: @colorMineShaft;
		touch-action: none;
		border-radius: 2px;

		.rangeslider__fill {
			display: block;
		}

		.rangeslider__handle {
			outline: none;
			display: inline-block;
			position: absolute;
			background-color: @colorTamarillo;
			border-radius: 2px;
		}

		.rangeslider__handle .rangeslider__active {
			opacity: 1;
		}
	}

	.rangeslider-horizontal {
		height: 8px;
		margin: 2px 0;

		.rangeslider__fill {
			height: 100%;
			border-radius: 2px;
			top: 0;
		}

		.rangeslider__handle {
			width: 12px;
			height: 12px;
			top: 50%;
			transform: translate3d(-50%, -50%, 0);
		}
	}

	.rangeslider-vertical {
		margin: 0 auto;
		height: 150px;
		max-width: 8px;

		.rangeslider__fill {
			width: 100%;
			bottom: 0;
		}

		.rangeslider__handle {
			width: 12px;
			height: 12px;
			left: -2px;
		}
	}
}
