@import '../../../styles/colors';
@import '../../../styles/mixins';

.button {
	outline: none;
	border: none;
	transition: background-color .25s;
	width: 100%;
	margin-right: 8px;
	font-weight: bold;

	&.small {
		padding: 4px 12px;
		font-size: 12px;
		line-height: 12px;
	}

	&.medium {
		padding: 8px 12px;
		font-size: 14px;
		line-height: 14px;
	}

	&.large {
		padding: 8px 12px;
		font-size: 16px;
		line-height: 16px;
	}

	&.default {
		&:not(&.flat) {
			.shadowed-mineshaft();
		}
		.activatable-default();
		color: @colorWhitePrimary;
	}

	&.primary {
		&:not(&.flat) {
			.shadowed-tamarillo();
		}
		.activatable-tamarillo();
		.activatable-emboss();
		color: @colorWhitePrimary;
	}

	&.disabled {
		.shadowed-mineshaft();
		background-color: @colorMineShaft;
	}
}
