@colorBackgroundMain: rgba(14, 14, 14, 0.7);
@colorBackgroundSecondary: rgba(0, 0, 0, 0.75);
@colorBlack: #000;
@colorWhitePrimary: #F0F0F0;
@colorBlackPrimary: rgba(0, 0, 0, 0.8);
@colorBlackSecondary: rgba(0, 0, 0, 0.5);
@colorSemiBlack: rgba(0, 0, 0, 0.25);
@colorWhiteSecondary: rgba(255, 255, 255, 0.4);
@colorFarquaadGray: rgba(43, 43, 43, 0.75);
@colorSemiTamarillo: rgba(172, 23, 32, 0.25);
@colorSemiAlizarinCrimson: rgba(229, 30, 43, 0.25);
@colorHoverWhite: rgba(255, 255, 255, 0.15);

@colorSilver: rgba(0, 0, 0, 0.25);
@colorGreen: #00BB00;
@colorMineShaft: #3C3C3C;
@colorTamarillo: #AC1720;
@colorAlizarinCrimson: #E51E2B;
