@import 'colors';
.activatable-emboss() {
	box-shadow: 1px 1px 2px #000000, inset 1px 1px 1px @colorAlizarinCrimson;
}

.activatable-tamarillo() {
	background-color: @colorTamarillo;
	transition: 0.25s background-color;

	&:hover {
		background-color: @colorAlizarinCrimson;
	}
}

.activatable-default() {
	background-color: @colorBlackSecondary;
	transition: 0.25s background-color;

	&:hover {
		background-color: @colorTamarillo;
	}
}

.activatable-farquaad() {
	background-color: @colorFarquaadGray;
	transition: 0.25s background-color;

	&:hover {
		background-color: @colorTamarillo;
	}
}

.shadowed-tamarillo() {
	box-shadow: 1px 1px 2px @colorBlackPrimary, inset 1px 1px 1px @colorAlizarinCrimson;
}

.shadowed-farquaad() {
	box-shadow: 1px 1px 2px @colorBlackPrimary, inset 1px 1px 1px @colorBlackSecondary;
}

.shadowed-mineshaft() {
	box-shadow: 1px 1px 2px @colorBlackPrimary, inset 1px 1px 1px @colorBlackSecondary;
}

.scrollable() {
	&::-webkit-scrollbar {
		width: 20px;
	}

	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 8px 8px @colorMineShaft;
		border-left: solid 12px transparent;
	}

	&::-webkit-scrollbar-thumb {
		box-shadow: inset 0 0 8px 8px @colorTamarillo;
		border-left: solid 12px transparent;
	}
}
