.auth-page {
	display: flex;
	min-width: 1200px;
	max-width: 1880px;
	height: 100vh;
	margin: 0 auto;
	align-content: center;
	justify-content: space-between;

	.auth-left-container {
		display: flex;
		width: 360px;
	}

	.auth-form-container {
		width: 480px;
		justify-content: center;
		align-self: flex-start;
		margin-top: 15vh;

		.auth-form-logo {
			width: 100%;
		}

		.auth-form {
			margin-top: 20px;

			.auth-form-header {
				display: flex;
				width: 100%;
				justify-content: space-between;

				.auth-form-tab {
					width: 100%;

					button {
						background: rgba(0, 0, 0, 0.7);
						outline: none;
						border: none;
						font-size: 20px;
						font-weight: bold;
						width: 100%;
						padding: 20px;
						color: #F0F0F0;
						text-shadow: 0.5px 0.5px 0.25px #000;
					}

					&.active button {
						background: #E03232;
					}
				}
			}

			.auth-form-body {
				background: rgba(0, 0, 0, 0.4);
				padding: 20px;
				color: #F0F0F0;
				font-weight: bolder;
				text-shadow: 0.5px 0.5px 0.25px #000;

				.auth-form-field {
					margin: 8px 0;

					.auth-form-field-label {
						margin-bottom: 10px;
					}

					input {
						width: 100%;
						padding: 10px;
					}

					&:first-child {
						margin-top: 0;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}

				.auth-form-field-error {
					margin-top: 8px;
					height: 18px;
					display: block;
					color: #E03232;
				}
			}

			.auth-form-footer {
				width: 100%;

				button {
					background: #E03232;
					outline: none;
					border: none;
					font-size: 20px;
					font-weight: bold;
					width: 100%;
					padding: 20px;
					color: #F0F0F0;
					text-shadow: 0.5px 0.5px 0.25px #000;
				}
			}
		}
	}

	.auth-news-container {
		width: 360px;
		overflow-y: hidden;

		.news-item {
			width: 100%;
			margin: 20px 0;

			.news-item-header {
				margin-bottom: 10px;

				.news-item-header-text {
					font-size: 20px;
					font-weight: bold;
				}

				.news-item-header-meta {
					color: rgba(255, 255, 255, 0.45);
				}
			}

			.news-item-body {
				.news-item-image {
					width: 100%;
					margin-bottom: 10px;
				}

				a {
					color: rgba(255, 255, 255, 0.45);
					text-decoration: none;

					&:hover {
						color: #F0F0F0;
					}
				}
			}
		}
	}
}
