@import '../../../styles/colors';
@import '../../../styles/mixins';

.combobox-horizontal {
	display: flex;
	justify-content: space-between;

	.combobox-body {
		background-color: @colorFarquaadGray;
		color: @colorWhitePrimary;
		font-size: 12px;
		line-height: 12px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.combobox-button {
		.activatable-tamarillo();
		transition: background-color .25s;
		min-width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			stroke: @colorWhitePrimary
		}

		&.combobox-left-button {
			margin-right: 4px;
		}

		&.combobox-right-button {
			margin-left: 4px;
		}
	}
}
