@import '../../styles/colors';

.veh-shop {
	display: flex;
	width: 1864px;
	height: 100vh;
	margin: 0 auto;
	justify-content: space-between;
	align-content: center;
	overflow: hidden;

	.veh-shop-left {
		display: flex;
		align-items: center;
		color: @colorWhitePrimary;

		.veh-shop-list-container {
			width: 302px;
			overflow: hidden;

			.veh-shop-list-header {
				background-color: @colorTamarillo;
				line-height: 14px;
				font-size: 14px;
				font-weight: bold;
				width: 100%;
				padding: 11px 12px;
			}

			.veh-shop-list-body {
				background-color: @colorBackgroundMain;
				width: 100%;
				padding: 12px;

				.veh-shop-list-body-scroll-container {
					max-height: 414px;
					overflow: auto;

					&::-webkit-scrollbar {
						width: 20px;
					}

					&::-webkit-scrollbar-track {
						box-shadow: inset 0 0 8px 8px @colorMineShaft;
						border-left: solid 12px transparent;
					}

					&::-webkit-scrollbar-thumb {
						box-shadow: inset 0 0 8px 8px @colorTamarillo;
						border-left: solid 12px transparent;
					}

					.veh-shop-list-item {
						display: flex;
						justify-content: space-between;
						padding: 11px 12px;
						transition: background-color .25s;
						background-color: @colorBackgroundSecondary;
						font-size: 14px;
						line-height: 14px;
						margin-bottom: 6px;

						&:last-child {
							margin-bottom: 0;
						}

						&:not(.active) {
							&:hover {
								background-color: @colorTamarillo;
							}
						}

						&.active {
							background-color: @colorTamarillo;
						}
					}
				}
			}
		}
	}

	.veh-shop-right {
		display: flex;
		align-items: center;
		color: @colorWhitePrimary;

		.veh-shop-mods-container {
			background-color: @colorBackgroundMain;
			width: 302px;
			overflow: hidden;
			padding: 12px;

			.veh-shop-mods-label {
				display: flex;
				overflow: hidden;
				justify-content: space-between;
				padding: 11px 12px;
				background-color: @colorBackgroundSecondary;
				font-size: 14px;
				line-height: 14px;
				margin-bottom: 6px;

				&:last-child {
					margin-bottom: 0;
				}

				> span:first-child {
					font-weight: bold;
				}

				.green {
					color: @colorGreen;
				}

				.price {
					font-weight: bolder;
				}
			}

			.veh-shop-mods-stats {
				overflow: hidden;
				padding: 12px;
				background-color: @colorBackgroundSecondary;

				.veh-shop-mods-stats-item {
					margin-bottom: 11px;

					&:last-child {
						margin-bottom: 0;
					}

					> div:first-child {
						font-size: 14px;
						line-height: 14px;
						margin-bottom: 11px;
					}
				}

				margin-bottom: 6px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			.veh-shop-mods-colors {
				overflow: hidden;
				padding: 11px 12px;
				background-color: @colorBackgroundSecondary;
				margin-bottom: 6px;

				.veh-shop-mods-colors-item {
					margin-bottom: 11px;

					&:last-child {
						margin-bottom: 0;
					}

					> div:first-child {
						font-weight: bold;
						font-size: 14px;
						line-height: 14px;
						margin-bottom: 11px;
					}

					.veh-shop-colors-color {
						width: 14px;
						height: 14px;
						border: 1px outset @colorWhiteSecondary;
						border-radius: 4px;
						display: inline-block;
						box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
						margin-right: 6px;

						&:last-child {
							margin-right: 0;
						}
					}
				}
			}

			.veh-shop-mods-buttons {
				padding: 12px;
				background-color: @colorBackgroundSecondary;

				> div {
					display: flex;

					&:first-child {
						margin-bottom: 8px;
					}
				}

				button {
					outline: none;
					border: none;
					transition: background-color .25s;
					background-color: @colorTamarillo;
					color: @colorWhitePrimary;
					width: 100%;
					padding: 8px 12px;
					margin-right: 8px;
					font-weight: bold;
					font-size: 12px;
					line-height: 12px;
					box-shadow: 1px 1px 2px #000000, inset 1px 1px 1px #E51E2B;

					&:hover {
						background-color: @colorAlizarinCrimson;
					}

					&:last-child {
						margin-right: 0;
					}
				}
			}

			.stats-bar-container {
				padding: 2px;
				position: relative;
				border-radius: 4px;
				background-color: @colorMineShaft;
				display: flex;
				justify-content: center;

				.stats-bar {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					border-radius: 4px;
					background-color: @colorTamarillo;
				}

				.stats-value {
					position: relative;
					font-size: 12px;
					line-height: 12px;
				}
			}
		}
	}
}
