.chat {
	z-index: 0;
	position: absolute;
	text-shadow: 1px 1px 0 rgb(0, 0, 0);
	font-size: 14px;
	left: 28px;
	top: 19px;

	.chat-messages {
		overflow: hidden;
		height: 284px;
		width: 640px;

		ul {
			width: calc(35vw - 10px);
			display: table-cell;
			vertical-align: bottom;

			li {
				margin: 4px 0;
				line-height: 20px;
				font-size: 18px;
				color: #F0F0F0;
				text-shadow: 0.5px 0.5px 0.25px #000;
				list-style-type: none;

				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.chat-input-container {
		margin-top: 16px;

		input {
			color: #F0F0F0;
			text-shadow: 0.5px 0.5px 0.25px #000;
			background: none;
			outline: none;
			border: none;
			padding: 0;
			font-size: 18px;
			font-weight: 400;
			width: 100%;
		}
	}

	.chat-list {
		.item-appear, .item-enter {
			opacity: 0;
		}

		.item-appear-active, .item-enter-active {
			opacity: 1;
			transition: opacity 500ms ease-in;
		}

		.item-exit {
			opacity: 1;
		}

		.item-exit-active {
			opacity: 0;
			transition: opacity 500ms ease-in;
		}

		.chat-message-unknown {
			color: #E51E2B;
		}

		.chat-message-sender {
			font-weight: bolder;
		}
	}
}
