.card {
	height: auto;

	.card-content {
		background: rgba(0, 0, 0, 0.5);
		color: #D2E0E6;
		font-size: 18px;
	}

	&.small {
		border-bottom: 2px solid rgba(0, 0, 0, 0.4);
		border-top: 2px solid rgba(0, 0, 0, 0.4);

		.card-content {
			padding: 5px 10px;
		}
	}

	&.medium {
		border-bottom: 3px solid rgba(0, 0, 0, 0.4);
		border-top: 3px solid rgba(0, 0, 0, 0.4);

		.card-content {
			padding: 10px 15px;
		}
	}

	&.big {
		border-bottom: 5px solid rgba(0, 0, 0, 0.4);
		border-top: 5px solid rgba(0, 0, 0, 0.4);

		.card-content {
			padding: 15px 20px;
		}
	}

	&.left {
		&.small {
			box-shadow: -2px 0 0 0 #E03232;
			margin-left: 2px;
		}

		&.medium {
			box-shadow: -3px 0 0 0 #E03232;
			margin-left: 3px;
		}

		&.big {
			box-shadow: -5px 0 0 0 #E03232;
			margin-left: 5px;
		}
	}

	&.right {
		&.small {
			box-shadow: 2px 0 0 0 #E03232;
			margin-left: 2px;
		}

		&.medium {
			box-shadow: 3px 0 0 0 #E03232;
			margin-left: 3px;
		}

		&.big {
			box-shadow: 5px 0 0 0 #E03232;
			margin-left: 5px;
		}
	}

	&.both {
		&.small {
			box-shadow: 2px 0 0 0 #E03232, -2px 0 0 0 #E03232;
			margin-left: 2px;
			margin-right: 2px;
		}

		&.medium {
			box-shadow: 3px 0 0 0 #E03232, -3px 0 0 0 #E03232;
			margin-left: 3px;
			margin-right: 3px;
		}

		&.big {
			box-shadow: 5px 0 0 0 #E03232, -5px 0 0 0 #E03232;
			margin-left: 5px;
			margin-right: 5px;
		}
	}

	&.bottom {
		&.small {
			box-shadow: 0 2px 0 0 #E03232;
			margin-bottom: -2px;
		}

		&.medium {
			box-shadow: 0 3px 0 0 #E03232;
			margin-bottom: -3px;
		}

		&.big {
			box-shadow: 0 5px 0 0 #E03232;
			margin-bottom: -5px;
		}
	}

	&.top {
		&.small {
			box-shadow: 0 0 0 #E03232, 0 -2px 0 #E03232;
			margin-top: 2px;
		}

		&.medium {
			box-shadow: 0 0 0 #E03232, 0 -3px 0 #E03232;
			margin-top: 3px;
		}

		&.big {
			box-shadow: 0 0 0 #E03232, 0 -5px 0 #E03232;
			margin-top: 5px;
		}
	}

	&.none {
		&.small {
			margin-left: 2px;
			margin-right: 2px;
		}

		&.medium {
			margin-left: 3px;
			margin-right: 3px;
		}

		&.big {
			margin-left: 5px;
			margin-right: 5px;
		}
	}

	&.full {
		width: calc(100% - 5px);

		.card-content {
			width: 100%;
		}
	}

	&.auto {
		width: auto;
	}
}
